<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/desktop-2.css"/>
</head>
<body>
<div class="desktop-2-yuT">
  <div class="signup-Aj3">
    <div class="rectangle-4-LQZ">
    </div>
    <div class="auto-group-ggwt-1Wh">
      <div class="auto-group-bnzv-gsj">
        <p class="firstname-Q33">Username</p>
        <div class="usernameField">
       <input name="Firstname" class="form-control" title="Username" style="width: 35.5rem; height: 7rem;" />
       </div>
       <style>
        .form-control{
            position: relative;
            top: 30px;
            border-radius: 7px;
            font-size: 20px;
            font-family: Inter, 'Source Sans Pro';
        }
       </style>
      </div>
      <div class="auto-group-zxbv-Uh7">
        <p class="lastname-zQZ">Password</p>
       <div class="passwordField">
         <input name="Firstname" type = "password" title="Password" class="form-control" style="width: 35.5rem; height: 7rem;" />
       </div>
      </div>
    </div>
   
  
    
    <div class="auto-group-kadd-qAq">REGISTER</div>



    <button type="button" class ="button" onclick="location.href= '/LoginPage/Signin'"> <b> Sign up </b></button>

    <style>
        .button{
     width: 30.4rem;
  height: 7.7rem;
  position: absolute;
  left: 27.4rem;
  top: 35rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: black;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409d54;
  border-radius: 1rem;
  }
  .button:hover {
  background-color: white; /* Green */

}
    </style>

  </div>
</div>
</body>


<style>
    
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.desktop-2-yuT {
  box-sizing: border-box;
  padding: 7.8rem 29.4rem 7.9rem 29.4rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.desktop-2-yuT .signup-Aj3 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-2-yuT .signup-Aj3 .rectangle-4-LQZ { /*Page Background*/

  width: 85.2rem;
  height: 50rem;
  top: 10px;
  background-color: #307d41;
  border-radius: 3rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh {
  width: 80.3rem;
  height: 10.7rem;
  position: absolute;
  left: 2.1rem;
  top: 17.8rem;
  display: flex;
  align-items: center;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-bnzv-gsj {
  margin-right: 8.5rem;
  width: 35.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-bnzv-gsj .firstname-Q33 {
  width: 12.2rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-bnzv-gsj .rectangle-100-1Yd {
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-zxbv-Uh7 {
  width: 35.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-zxbv-Uh7 .lastname-zQZ {
  width: 11.9rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-ggwt-1Wh .auto-group-zxbv-Uh7 .rectangle-103-sUM {
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB {
  width: 80.3rem;
  height: 10.7rem;
  position: absolute;
  left: 2.1rem;
  top: 29.8rem;
  display: flex;
  align-items: center;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-savm-Fzh {
  margin-right: 8.5rem;
  width: 35.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-savm-Fzh .password-P5K {
  width: 11.9rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-savm-Fzh .rectangle-104-qCD {
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-4jrt-79j {
  width: 35.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-4jrt-79j .sex-qbX {
  width: 4.5rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-4sjt-ZMB .auto-group-4jrt-79j .rectangle-105-tJu {
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB {
  width: 80.3rem;
  height: 10.7rem;
  position: absolute;
  left: 2.1rem;
  top: 41.8rem;
  display: flex;
  align-items: center;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-yxw1-FHs {
  margin-right: 8.5rem;
  width: 35.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-yxw1-FHs .position-A9w {
  width: 9.8rem;
  height: 3.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-yxw1-FHs .rectangle-106-r2m {
  width: 35.9rem;
  height: 7.7rem;
  position: absolute;
  left: 0;
  top: 3rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-fkmz-9Gm {
  width: 35.9rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-fkmz-9Gm .mobile-number-or-username-gGh {
  margin: 0rem 0rem 0.5rem 0.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-yuT .signup-Aj3 .auto-group-6ddq-MyB .auto-group-fkmz-9Gm .rectangle-107-LMF {
  width: 100%;
  height: 7.7rem;
  background-color: #409d54;
  border-radius: 1rem;
}



.desktop-2-yuT .signup-Aj3 .auto-group-kadd-qAq {
  width: 81rem;
  height: 5.1rem;
  position: absolute;
  left: 2.1rem;
  top: 4.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409d54;
  border-radius: 1rem;
}
.desktop-2-yuT .signup-Aj3 .auto-group-jowd-VmB { /*sIGNUP Button*/
  width: 30.4rem;
  height: 7.7rem;
  position: absolute;
  left: 27.4rem;
  top: 60rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409d54;
  border-radius: 1rem;
}

html {
     width: 144rem;
  left: 150px;
	font-size: 50%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {

 
}.desktop-2-yuT {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 7.8rem 29.4rem 7.9rem 29.4rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
}
  .signup-Aj3 {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
  }
    .rectangle-4-LQZ {
      top: 0;
      background-color: #307d41;
      border-radius: 1rem;
      width: 85.2rem;
      height: 89.2rem;
      position: absolute;
      left: 0;
    }
    .auto-group-ggwt-1Wh {
      height: 10.7rem;
      position: absolute;
      left: 2.1rem;
      top: 17.8rem;
      display: flex;
      align-items: center;
      width: 80.3rem;
    }
      .auto-group-bnzv-gsj {
        flex-shrink: 0;
        margin-right: 8.5rem;
        width: 35.9rem;
        height: 100%;
        position: relative;
      }
        .firstname-Q33 {
          font-weight: 600;
          line-height: 1.2125;
          width: 12.2rem;
          position: absolute;
          top: 0;
          font-size: 2.5rem;
          white-space: nowrap;
          height: 3.1rem;
          left: 0;
          color: #f6f6f6;
          font-family: Inter, 'Source Sans Pro';
        }
        .rectangle-100-1Yd {
          top: 3rem;
          background-color: #409d54;
          border-radius: 1rem;
          width: 35.9rem;
          height: 7.7rem;
          position: absolute;
          left: 0;
    
      }
      .auto-group-zxbv-Uh7 {
        position: relative;
        flex-shrink: 0;
        width: 35.9rem;
        height: 100%;
      }
        .lastname-zQZ {
          font-weight: 600;
          color: #f6f6f6;
          font-family: Inter, 'Source Sans Pro';
          height: 3.1rem;
          position: absolute;
          font-size: 2.5rem;
          line-height: 1.2125;
          white-space: nowrap;
          width: 11.9rem;
          left: 0;
          top: 0;
        }
        .rectangle-103-sUM {
          background-color: #409d54;
          border-radius: 1rem;
          width: 35.9rem;
          height: 7.7rem;
          position: absolute;
          left: 0;
          top: 3rem;
        }
  
    .auto-group-4sjt-ZMB {
      position: absolute;
      left: 2.1rem;
      top: 29.8rem;
      display: flex;
      align-items: center;
      width: 80.3rem;
      height: 10.7rem;
    }
      .auto-group-savm-Fzh {
        margin-right: 8.5rem;
        width: 35.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
      }
        .password-P5K {
          width: 11.9rem;
          left: 0;
          color: #f6f6f6;
          font-size: 2.5rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.1rem;
          position: absolute;
          top: 0;
        }
        .rectangle-104-qCD {
          background-color: #409d54;
          border-radius: 1rem;
          width: 35.9rem;
          height: 7.7rem;
          position: absolute;
          left: 0;
          top: 3rem;
        }
 
      .auto-group-4jrt-79j {
        position: relative;
        flex-shrink: 0;
        width: 35.9rem;
        height: 100%;
      }
        .sex-qbX {
          width: 4.5rem;
          left: 0;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 3.1rem;
          position: absolute;
          top: 0;
          font-size: 2.5rem;
          color: #f6f6f6;
        }
        .rectangle-105-tJu {
          border-radius: 1rem;
          width: 35.9rem;
          height: 7.7rem;
          position: absolute;
          left: 0;
          top: 3rem;
          background-color: #409d54;
        }
 
    .auto-group-6ddq-MyB {
      display: flex;
      align-items: center;
      width: 80.3rem;
      height: 10.7rem;
      position: absolute;
      left: 2.1rem;
      top: 41.8rem;
    }
      .auto-group-yxw1-FHs {
        margin-right: 8.5rem;
        width: 35.9rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
      }
        .position-A9w {
          left: 0;
          top: 0;
          font-weight: 600;
          color: #f6f6f6;
          white-space: nowrap;
          height: 3.1rem;
          position: absolute;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 9.8rem;
          font-size: 2.5rem;
        }
        .rectangle-106-r2m {
          top: 3rem;
          background-color: #409d54;
          border-radius: 1rem;
          width: 35.9rem;
          height: 7.7rem;
          position: absolute;
          left: 0;
        }

      .auto-group-fkmz-9Gm {
        width: 35.9rem;
        height: 100%;
        flex-shrink: 0;
      }
        .mobile-number-or-username-gGh {
          color: #f6f6f6;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.5rem 0.3rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .rectangle-107-LMF {
          width: 100%;
          height: 7.7rem;
          background-color: #409d54;
          border-radius: 1rem;
        }
 
  
    .auto-group-kadd-qAq {
      border-radius: 1rem;
      height: 5.1rem;
      color: #ffffff;
      display: flex;
      background-color: #409d54;
      width: 81rem;
      position: absolute;
      left: 2.1rem;
      top: 4.9rem;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    .auto-group-jowd-VmB {
      width: 30.4rem;
      line-height: 1.2125;
      left: 27.4rem;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      border-radius: 1rem;
      position: absolute;
      top: 67.1rem;
      font-size: 3rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      height: 7.7rem;
      color: #ffffff;
      background-color: #409d54;
    }

</style>