@model HarryMidterm.Entities.Newborrower

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmp/D1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
    integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<h2 style="color: white;">Add Employee-Borrower Information</h2>
<hr />
<div class="row container-fluid ">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="MiddleName" class="control-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" type="date" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="BirthPlace" class="control-label"></label>
                        <input asp-for="BirthPlace" class="form-control" />
                        <span asp-validation-for="BirthPlace" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Sex" class="control-label"></label>
                        <select required asp-for="Sex" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Province" class="control-label"></label>
                        <input asp-for="Province" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Nationality" class="control-label"></label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="MaritalStatus" class="control-label"></label>
                        <select required asp-for="MaritalStatus" class="form-control">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Occupation" class="control-label"></label>
                        <input asp-for="Occupation" class="form-control" />
                        <span asp-validation-for="Occupation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Capital" class="control-label"></label>
                        <input asp-for="Capital" class="form-control" />
                        <span asp-validation-for="Capital" class="text-danger"></span>
                    </div>
                </div>

                 <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                 

                 
                @* Border *@


                <div class="form-group ">
                    @* <input type="submit" value="Create" class="btn btn-outline-warning create" />
                    <i class="fa-solid fa-square-plus"></i> *@

                    <button type="submit" class="btn btn-outline-warning create"> <i class="fa-solid fa-square-plus"></i>
                    Create
                    </button>


              

                </div>
            </div>


        </form>
    </div>
    <div>

        <div>
            <button type="button" onclick="location.href='/Borrower/Index'" class="btn btn-outline-warning backMove"> 
            <i
            class="fa-solid fa-backward" style="color: #4ac4b6;"></i> Back</button>
        </div>



        <style>
            body {


                @* background-image: url("../../building.png");
                background-size: cover; *@
                 background-color: #4aac5f;
            }

            .crmcPic {
                position: absolute;
            }
             .backMove {
        position: absolute;
        top: 10px;
        left: 1290px;
    }

            .back {
                position: absolute;
                top: 10px;
                left: 1300px;
            }

            .create {
                position: absolute;
                top: 10px;
                left: 1190px;
            }

            .row {
                color: white;
            }
        </style>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }


        
