<template id="categoryOptionTemplate">
    <option value=""></option>
</template>
<!-- Modal -->


    <div class="modal-dialog modal-sg">
        @* <div class="modalLarge"> *@
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FORGOT PASSWORD</h5>
              
            </div>
            <div class="modal-body createContent">
                <form id="addProdForm">

                    <div class="form-group">
                        <label name="" class="control-label">Search your Mobile Number or Username</label>
                        <input name="Firstname" class="form-control" style="width: 18rem;" />
                    </div>
                  <br>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>!-->
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="saveProdBtn">Save
                            Changes</i></button>
                    </div>
                </form>
            </div>



            
        </div>

    </div>
</div>


<style>
    body{
        background-color: gray;
    }
</style>