
@model List<HarryMidterm.Entities.Login>
  @{
    ViewData["Title"] = "Login Page";
}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<center>
<body>
<div class="login-AiD">
  <p class="username-yQm">Username</p>
  @* <p><input placeholder="Enter Category Name" class="nameDiv inputName" required asp-for="Name" /></p> *@
   
  <p class="forgot-password-VGd">Forgot Password?</p>
  <p class="new-here-register-BfF">New Here? (Register) </p>
  <div class="auto-group-bc49-Gwb">LOGIN</div>
  <div class="rectangle-100-h1K">
  </div>
  <div class="rectangle-101-QwK">
  </div>
  <div class="auto-group-157w-ih7">Sign in</div>
</div>

 
</body>
</center>



<style>
    
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 85.2rem;
}.login-AiD {
  width: 100%;
  height: 89.2rem;
  position: relative;
  overflow: hidden;
  background-color: #307d41;
  border-radius: 1rem;

  .username-yQm {
    position: absolute;
    top: 37.3rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.9rem;
    height: 3.7rem;
    left: 2.1rem;
    font-weight: 600;
  }
  .password-CYR {
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 2.1rem;
    top: 51.6rem;
    color: #f6f6f6;
    white-space: nowrap;
    width: 14.3rem;
    height: 3.7rem;
    font-size: 3rem;
  }
  .forgot-password-VGd {
    height: 2.5rem;
    position: absolute;
    left: 65.7rem;
    top: 65.9rem;
    font-size: 2rem;
    line-height: 1.2125;
    width: 17.4rem;
    font-weight: 600;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .new-here-register-BfF {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 3.7rem;
    top: 81.5rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #f6f6f6;
    width: 31.8rem;
    height: 3.7rem;
    position: absolute;
    font-weight: 600;
  }
  .auto-group-bc49-Gwb {
    white-space: nowrap;
    background-color: #409d54;
    height: 5.1rem;
    position: absolute;
    left: 2.1rem;
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    border-radius: 1rem;
    width: 81rem;
    top: 4.9rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
  }
  .rectangle-100-h1K {
    width: 81rem;
    height: 7.7rem;
    position: absolute;
    left: 2.1rem;
    top: 42.4rem;
    background-color: #409d54;
    border-radius: 1rem;
  }
  .rectangle-101-QwK {
    width: 81rem;
    height: 7.7rem;
    position: absolute;
    left: 2.1rem;
    top: 56.1rem;
    background-color: #409d54;
    border-radius: 1rem;
  }
  .auto-group-157w-ih7 {
    width: 30.4rem;
    display: flex;
    font-weight: 400;
    color: #ffffff;
    left: 27.4rem;
    top: 69.8rem;
    font-family: Inter, 'Source Sans Pro';
    background-color: #409d54;
    position: absolute;
    font-size: 3rem;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 7.7rem;
    line-height: 1.2125;
  }
}

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 85.2rem;
}
.login-AiD {
  position: absolute;
  left: 350px;
  width: 100%;
  height: 70rem;
  position: relative;
  overflow: hidden;
  background-color: #307d41;
  border-radius: 1rem;
}
.login-AiD .username-yQm {/* Userame Label*/
  width: 14.9rem;
  height: 3.7rem;
  position: absolute;
  left: 2.1rem;
  top: 25rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-AiD .password-CYR {/* Password Label*/
  width: 14.3rem;
  height: 3.7rem;
  position: absolute;
  left: 2.1rem;
  top: 37rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-AiD .forgot-password-VGd { /* ForgotPassword Label*/
  width: 17.4rem;
  height: 2.5rem;
  position: absolute;
  left: 65.7rem;
  top: 53rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-AiD .new-here-register-BfF { /* Register Label*/
  width: 31.8rem;
  height: 3.7rem;
  position: absolute;
  left: 3.7rem;
  top: 81.5rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #f6f6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.login-AiD .auto-group-bc49-Gwb {
  width: 81rem;
  height: 5.1rem;
  position: absolute;
  left: 2.1rem;
  top: 4.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409d54;
  border-radius: 1rem;
}
.login-AiD .rectangle-100-h1K { /* Username Field*/
  width: 81rem;
  height: 6rem;
  position: absolute;
  left: 2.1rem;
  top: 30rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.login-AiD .rectangle-101-QwK { /* Password Field*/
  width: 81rem;
  height: 7.7rem;
  position: absolute;
  left: 2.1rem;
  top: 42rem;
  background-color: #409d54;
  border-radius: 1rem;
}
.login-AiD .auto-group-157w-ih7 {
  width: 30.4rem;
  height: 7.7rem;
  position: absolute;
  left: 27.4rem;
  top: 69.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #409d54;
  border-radius: 1rem;
}

</style>