
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
  integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@* <button type="button" onclick="location.href='AllReports'" class="buttonBack"> Back</button> *@

 <button type="button" onclick="location.href='AllReports'" class="btn btn-outline-warning backMove" title="Back"> <i class="fa-solid fa-backward" style="color: #4ac4b6;"></i></button>


<style>
    .backMove{
         position: absolute;
        top: 10px;
       
    }
  body
  {
     background-image: url("../../building.png");
    background-size: cover;
  }
    .buttonBack{
      position: relative;
      top: 10px;
      left: 0px;
      font-size: 25px;
      border: 5px solid green;
      border-radius: 8px;
      background-color: teal;
      width: 10rem;
      height: 3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #3f9d54;
      border-radius: 1rem;
    }
      .buttonBack:hover {
  background-color: white; 
  color: black;

}
</style>