 <button type="button" onclick="location.href='HomePage'" class="buttonHome"> Home</button>



 
<style>
    body{
        background-color: #4aac5f;
        
    }
     .buttonHome{
      position: relative;
      top: 10px;
      left: 0px;
      font-size: 25px;
      border: 5px solid green;
      border-radius: 8px;
      background-color: teal;
      width: 10rem;
      height: 3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #3f9d54;
      border-radius: 1rem;
    }
     .buttonHome:hover {
  background-color: white; 
  color: black;

}
</style>