@model HarryMidterm.Entities.Schedule


@{
    ViewData["Title"] = "Schedule";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
    integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<style>

    

    
        .form-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
        }

        /* Optional: Style for individual form items */
        .form-item {
            margin-bottom: 15px;
        }
        .data{
            position: relative;
            top: 110px;
        }
        .fontSize{
            position: relative;
            font-size: 35px;
            border-radius: 8px;
            font-family: Arial, sans-serif;
            background-color: #307d41;
            top: 30px;
            color: white;
            }
       .buttonHome{
            position: absolute;
            top: 100px;
            font-size: 25px;
       }

        .buttonSave{
            
            margin-top: 20px;
            font-size: 25px;
       }

    
    </style>
    

    <title>Loan Payment</title>

    <div class="fontSize">
      <center> <b>Loan Payment</b>  </center> 
    </div>

    <button type="button" onclick="location.href='/LoginPage/LoanRecords'" class="btn btn-outline-warning buttonHome" title="Back">
        <i class="fa-solid fa-backward" style="color:#4ac4b6;"></i> Back
    </button>
    



@* asp-action="PayLoan" *@
<form id="scheduleForm" method="post" class="data">
    @Html.AntiForgeryToken()
   

    <div class="col-md-6">
    

         <div>
            <label for="AddloanrecordId">Borrower ID</label>
           <input type="number" class="form-control" id="borrowerId" placeholder="Date" name="AddloanrecordId" required asp-for="AddloanrecordId" disabled>
        </div>
        <div>
            <label for="Date">Date</label>
            <input type="text" class="form-control" id="date" placeholder="Date" name="Date" required asp-for="Date">
        </div>


         <div>
            <label for="Payment">Payment</label>
            <input type="number" class="form-control" id="payment" placeholder="Payment" name="Payment" oninput="updateType()">
        </div>

         <div>
            <label for="balance">Balance</label>
            <input type="number" class="form-control" id="totalamount" placeholder="Balance" name="Balance" required asp-for="Balance" disabled>
        </div>

        <div>
            <label for="Type">Type</label>
            <input type="text" name="Type" id="type" placeholder="Pending" class="form-control" readonly>
        </div>

         @* <div>
        <label for="Status">Status</label>
        <input type="text" class="form-control" id="status" placeholder="Pending" name="Status" required asp-for="Status" readonly>
    </div> *@

        @* <div>
            <label for="Type">Type</label>
            <select name="Type" id="type" class="form-control">
                <option value="Paid">Paid</option>
                <option value="Unpaid">Unpaid</option>

            </select>
        </div> *@

        <center> <button type="button" value="Payment" class="btn btn-outline-warning buttonSave " title="Save"
                onclick="submitForm()">
                <i class="fa-solid fa-save" style="color: #4ac4b6;"></i> Save
            </button>
        </center>
    </div>

</form>

        <script>
        function submitForm() {
            // Get the loan amount from the input field
           // var formelements = $("#loanForm");
           // var formInputs = $("#loanForm").serializeArray();
            const paymnt = document.getElementById('payment').value;
            const dates = document.getElementById('date').value;
            const paymentType = document.getElementById('type').value;
            const addLRId = document.getElementById('borrowerId').value;
            const totalAmnt = document.getElementById('totalamount').value;
            const balance = parseFloat(totalAmnt) - parseFloat(paymnt);
            alert("hello")

            // Check if the loan amount is valid (you can add more validation here)
            //|| isNaN(paymnt)
            if (paymnt.trim() !== '') {
                $.ajax
                ({
                    url: "/api/newapi/payLoanSchedule",
                    type: "POST",
                    data:
                    {
                        dates : dates,
                        paymnt : paymnt,
                        addLRId : addLRId,
                        paymentType : paymentType,
                        totalAmnt : totalAmnt,
                        balance : balance
                    },
                })
                .done(function (res) {

                    // If the input is valid, show a confirmation popup
                    Swal.fire({
                        icon: 'success',
                        title: 'Payment Loan Submitted!',
                        text: `You have successfully applied for a loan amount of  ₱${paymnt}.`,
                    });
                    console.log(res)
                }).catch(e=>{
                    console.log(e)
                })
            }
            else if(paymnt.trim() === '' || isNaN(paymnt))
            {
                //display sweet alert error
            }
          

            console.log(paymnt, dates, paymentType, addLRId, totalAmnt, balance);

            // You can add additional logic here to submit the form to your server
            // For example, using AJAX to send the data to a server-side script
        }
    </script>

<script>
    //Comparing Payment Field and Status


       function updateType() {
        var paymentInput = document.getElementById("payment");
        var typeInput = document.getElementById("type");

        if (paymentInput.value.trim() !== "") {
            typeInput.value = "Paid";
        } else {
            typeInput.value = "Pending";
        }
    }
    </script>



<style>
    body{
     background-color: #4aac5f;

    }

    
</style>
<script>
            function redirectToHome() {

                // Display SweetAlert confirmation before redirecting
                Swal.fire({
                    title: 'Are you sure?',
                    text: 'You are about to go to the home page.',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#4ac4b6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, go to Home!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If confirmed, redirect to the home page
                        window.location.href = '/LoginPage/HomePage';
                    }
                });
            }


        </script>