@model HarryMidterm.Entities.Login

@Html.Partial("Partial/ModalRegister")
<!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<!-- Include SweetAlert JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- Add this link in the head of your HTML to include SweetAlert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">



<script>
  function showAlertBeforeLeaving() {
    Swal.fire({
      title: 'Are you sure?',
      text: 'You are about to leave this page. Do you want to continue?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, leave',
      cancelButtonText: 'No, stay',
    }).then((result) => {
      if (result.value) {
        // Redirect the user to the next page
        window.location.href = 'next-page.html';
      }
    });
  }

</script>
<style>
  .vh-100 {
    position: relative;
    width: 1517px;

  }

  body {
    display: relative;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: -100px;
  }
 .EMPC{
   
    color: white;
    font-size: 40px;
    border-radius: 8px;
    background: #307d41;

  }
  @*.card{background-color:red;}*@
</style>

<section class="vh-100" style="background-color: #409d54;">
  <div class="container py-5 h-100 ">
    <div class="EMPC">
      <center> <b>Employee Multi-purpose Cooperative Management System</b></center>
</div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; ">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img class="harryPic" src="../../logo.png" width="450" height="280" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">



                <form id="signInForm" class="red">



                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3 signInLabel" style="letter-spacing: 1px;">Sign into your account</h5>


                  <div class="form-outline mb-4">
                    <label class="form-label usernameLabel" for="form2Example17">Username</label>
                    <input type="text" id="form2Example17" class="form-control form-control-lg troy" required />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label passwordLabel" for="form2Example27">Password</label>
                    <input type="password" id="form2Example27" class="form-control form-control-lg" required />
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block login-btn" type="button">Login</button>
                  </div>


                  <div class="mb-5 pb-lg-2 accountLabel" style="color: #393f81;">
                    Don't have an account?
                    <a href="#" class="small text-muted" style="color: black;" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop2">
                      Register Here
                    </a>
                  </div>
                  <script src="~/lib/jquery/dist/jquery.min.js"></script>

                </form>

  <script>
    $(() => {

                    $(".login-btn").click(e => {
                      e.preventDefault()
                  @* alert("hello") *@
                  @* console.log("Hello") *@
              var username = document.getElementById('form2Example17').value;
                      var password = document.getElementById('form2Example27').value;
                      console.log(username)
                      if (username.trim() === "" || password.trim() === "") {
                        // SweetAlert for validation
                        Swal.fire({
                          icon: 'error',
                          title: 'Validation Error',
                          text: 'Please fill in all required fields!',
                          confirmButtonText: 'OK'
                        });
                      } else {
                        $.ajax({
                          url: "/api/newapi/login",
                          method: "POST",
                          data: {
                            "username": username,
                            "password": password
                          },
                          success: res => {
                            sessionStorage.setItem("Logged", true)
                            location.href = '/LoginPage/ViewBalance';
                            console.log(res)
                          },
                  @* sessionStorage.getItem("logged") *@
                          error: err => {
                            Swal.fire({
                              icon: 'error',
                              title: 'Account not found',
                              text: 'Username or password is invalid!',
                              confirmButtonText: 'OK'
                            });
                          }
        })
                    // Perform login action
                    // You can redirect to the login page or handle the login logic here
                  }
    })

                  // get the logged status
                  if (sessionStorage.getItem("Logged") === "true") {
                    location.href = '/LoginPage/ViewBalance'
                  }

    //ayaw na hilabta
  })


    </script>
    <script>
                        //Accounting Staff Login

    $(() => {

                  $(".login-btn").click(e => {
                      e.preventDefault()
                  @* alert("hello") *@
                  @* console.log("Hello") *@
                  var username = document.getElementById('form2Example17').value;
                      var password = document.getElementById('form2Example27').value;
                      console.log(username)
                      if (username.trim() === "" || password.trim() === "") {
                        // SweetAlert for validation
                        Swal.fire({
                          icon: 'error',
                          title: 'Validation Error',
                          text: 'Please fill in all required fields!',
                          confirmButtonText: 'OK'
                        });
                      } else {
                        $.ajax({
                          url: "/api/newapi/accountingStaff",
                          method: "POST",
                          data: {
                            "username": username,
                            "password": password
                          },
                          success: res => {
                            sessionStorage.setItem("Logged", true)
                            location.href = '/LoginPage/HomePage';
                            console.log(res)
                          },
                  @* sessionStorage.getItem("logged") *@
                          error: err => {
                            Swal.fire({
                              icon: 'error',
                              title: 'Account not found',
                              text: 'Username or password is invalid!',
                              confirmButtonText: 'OK'
                            });
                          }
        })
                    // Perform login action
                    // You can redirect to the login page or handle the login logic here
                  }
    })

                  // get the logged status
                  if (sessionStorage.getItem("Logged") === "true") {
                    location.href = '/LoginPage/HomePage'
                  }

    //ayaw na hilabta
  })
        </script>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<style>
  .harryPic {
    position: relative;
    top: 50px;
    left: 20px;
  }

  .passwordLabel {
    font-size: 15px;
  }

  .usernameLabel {
    font-size: 15px;
  }

  .signInLabel {
    font-size: 25px;

  }

  .accountLabel {
    font-size: 15px;
  }

  .forgotPasswordLabel {
    font-size: 15px;
  }

  .button-solid {
    border: none;
  }

  button-solid:focus {
    border: none;
    outline: none;
  }
</style>


<script>

  const express = require('express');
  const mongoose = require('mongoose');
  const bodyParser = require('body-parser');

  const app = express();
  const port = process.env.PORT || 3000;

  mongoose.connect('harrymidtermdb://localhost/Signin', { useNewUrlParser: true, useUnifiedTopology: true });

  const User = mongoose.model('User', {
    Username: String,
    Password: String,
  });

  app.use(bodyParser.urlencoded({ extended: true }));
  app.use(express.static(__dirname + '/public'));

  app.get('/', (req, res) => {
    res.sendFile(__dirname + '/public/index.html');
  });

  app.post('/signup', async (req, res) => {
    const { Username, Password } = req.body;

    try {
      const user = new User({ Username, Password });
      await user.save();
      res.send('Signup successful!');
    } catch (error) {
      res.status(500).send('Error signing up');
    }
  });

  app.listen(port, () => {
    console.log(`Server is running on port ${port}`);
  });



</script>


<style>
  body {


    background-color: gray;
  }

  .logo {
    position: absolute;
    top: 100px;
    left: 320px;
  }

  .button {
    position: absolute;
    top: 600px;
    left: 274px;
    width: 30.4rem;
    height: 7.7rem;
    white-space: nowrap;
    border-radius: 1rem;
    font-family: 'Source Sans Pro';
    border-radius: 4px;
    font-size: 30px;
    background-color: #409d54;
    color: black;
  }

  .button:hover {
    background-color: white;
    /* Green */

  }

  .usernameField {
    position: absolute;
    top: 300px;
    left: 18px;
    white-space: nowrap;
    font-family: inherit;
    border-radius: 4px;
    font-size: 25px;
    width: 81rem;
    height: 6rem;
    background-color: #409d54;
    border-radius: 1rem;
  }

  .passwordField {
    position: absolute;
    top: 420px;
    left: 18px;
    white-space: nowrap;
    font-family: inherit;
    border-radius: 4px;
    font-size: 25px;
    width: 81rem;
    height: 6rem;
    background-color: #409d54;
    border-radius: 1rem;
  }
</style>



</center>



<style>
  html {
    font-size: 62.5%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  input {
    border: none;
  }

  body {

    width: 85.2rem;
  }

  .login-AiD {
    width: 100%;
    height: 89.2rem;
    position: relative;
    overflow: hidden;
    background-color: #307d41;
    border-radius: 1rem;
  }

  .username-yQm {
    position: absolute;
    top: 37.3rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.9rem;
    height: 3.7rem;
    left: 2.1rem;
    font-weight: 600;
  }

  .password-CYR {
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 2.1rem;
    top: 51.6rem;
    color: #f6f6f6;
    white-space: nowrap;
    width: 14.3rem;
    height: 3.7rem;
    font-size: 3rem;
  }

  .forgot-password-VGd {
    height: 2.5rem;
    position: absolute;
    left: 65.7rem;
    top: 65.9rem;
    font-size: 2rem;
    line-height: 1.2125;
    width: 17.4rem;
    font-weight: 600;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }

  .new-here-register-BfF {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 0rem;
    top: 68rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #f6f6f6;
    width: 31.8rem;
    height: 3.7rem;
    position: absolute;
    font-weight: 600;
  }

  .auto-group-bc49-Gwb {

    white-space: nowrap;
    background-color: #409d54;
    height: 5.1rem;
    position: absolute;
    left: 2.1rem;
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    border-radius: 1rem;
    width: 81rem;
    top: 1rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
  }

  .rectangle-100-h1K {
    width: 81rem;
    height: 7.7rem;
    position: absolute;
    left: 2.1rem;
    top: 42.4rem;
    background-color: #409d54;
    border-radius: 1rem;
  }

  .rectangle-101-QwK {
    width: 81rem;
    height: 7.7rem;
    position: absolute;
    left: 2.1rem;
    top: 56.1rem;
    background-color: #409d54;
    border-radius: 1rem;
  }


  html {
    font-size: 62.5%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  input {
    border: none;
  }

  body {

    width: 85.2rem;
  }

  .login-AiD {
    /*Login Background*/
    position: absolute;
    left: 320px;
    width: 100%;
    height: 70rem;
    position: relative;
    overflow: hidden;
    background-color: #307d41;
    border-radius: 1rem;
  }

  .login-AiD .username-yQm {
    /* Userame Label*/
    width: 14.9rem;
    height: 3.7rem;
    position: absolute;
    left: 2.1rem;
    top: 25rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }

  .login-AiD .passwordLabel {
    /* Password Label*/
    width: 14.3rem;
    height: 3.7rem;
    position: absolute;
    left: 2.1rem;
    top: 37rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }

  .login-AiD .forgot-password-VGd {
    /* ForgotPassword Label*/
    width: 17.4rem;
    height: 2.5rem;
    position: absolute;
    left: 57rem;
    top: 53rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;

  }

  .login-AiD .new-here-register-BfF {
    /* Register Label*/
    width: 31.8rem;
    height: 3.7rem;
    position: absolute;
    left: -6rem;
    top: 53rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }

  .registerLabelButton {
    width: 31.8rem;
    height: 3.7rem;
    position: absolute;
    left: 9rem;
    top: 53rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #f6f6f6;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }

  .login-AiD .rectangle-100-h1K {
    /* Username Field*/
    width: 81rem;
    height: 6rem;
    position: absolute;
    left: 2.1rem;
    top: 30rem;
    background-color: #409d54;
    border-radius: 1rem;
  }

  .login-AiD .rectangle-101-QwK {
    /* Password Field*/
    width: 81rem;
    height: 6rem;
    position: absolute;
    left: 2.1rem;
    top: 42rem;
    background-color: #409d54;
    border-radius: 1rem;
  }
</style>